<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header pb-2">
        <h4 class="card-title" id="bordered-layout-basic-form">Send Us Your Feedback</h4>
      </div>
      <div class="card-content">
        <div class="px-3">
          <form [formGroup]="regularForm" (ngSubmit)="onReactiveFormSubmit()" novalidate class="form form-horizontal form-bordered">
            <div class="form-group">
              
              <div class="form-group row">
                <label class="col-md-3 label-control" for="name">Full Name</label>
                <div class="col-md-9">
                  <input type="text" id="name" class="form-control" placeholder="Full Name" formControlName="name" required>
                  <small class="form-text text-muted danger"
                  *ngIf="!regularForm.get('name').valid && (regularForm.get('name').dirty || regularForm.get('name').touched)">This field is required</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="email">E-mail</label>
                <div class="col-md-9">
                  <input type="email" id="email" class="form-control" placeholder="E-mail" formControlName="email" required>
                  <small class="form-text text-muted danger"
                 *ngIf="!regularForm.get('email').valid && (regularForm.get('email').dirty || regularForm.get('email').touched)">Please enter a valid email!</small>
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-md-3 label-control" for="contact">Contact</label>
                <div class="col-md-9">
                  <input type="number" id="contact" class="form-control" placeholder="Contact" formControlName="contact" required>
                  <small class="form-text text-muted danger"
                  *ngIf="!regularForm.get('contact').valid && (regularForm.get('contact').dirty || regularForm.get('contact').touched)">This field is required!</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 label-control" for="feedback">Feedback</label>
                <div class="col-md-9">
                  <textarea type="text" id="feedback" rows="5" class="form-control" placeholder="Type your Message" formControlName="feedback" required></textarea>
                  <small class="form-text text-muted danger"
                  *ngIf="!regularForm.get('feedback').valid && (regularForm.get('feedback').dirty || regularForm.get('feedback').touched)">This field is required!</small>
                </div>
              </div>
              
            </div>

            <div class="form-actions">
              <button type="button" class="btn btn-raised btn-warning mr-1">
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-success btn-raised" [disabled]="!regularForm.valid">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
